<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
	function WinClose() {
		window.open('','_self').close();
	}
    document.addEventListener("DOMContentLoaded", function() {
	    Swal.fire(
		    '감사합니다.',
		    '1초 후 자동 종료됩니다.',
		    'success'
	    )
	    setTimeout(() => {
		    WinClose();
	    },1800);
    });
</script>
</html>
